In [6]:
import pandas as pd
import sqlite3

In [7]:
# Conexão database SQLite
consqlite = sqlite3.connect('C:/Users/matheus.candido/sqlite3/exploracao_petroleo_brasil.db', timeout=3)

In [8]:
# ETL Query d_bacia

query_d_bacia = f"""
SELECT DISTINCT 
	   UPPER(REPLACE(SUBSTR(BACIA, 0, 3), 'ã', 'a') || LENGTH(BACIA) || REPLACE(REPLACE(SUBSTR(BACIA, -1, 1), 'á', 'a'), 'ó', 'o')) AS COD_BACIA,
   	   UPPER(BACIA) AS BACIA
FROM T_DATAHUB
ORDER BY COD_BACIA
"""

d_bacia_df = pd.read_sql_query(query_d_bacia, consqlite)

In [9]:
d_bacia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   COD_BACIA  37 non-null     object
 1   BACIA      37 non-null     object
dtypes: object(2)
memory usage: 720.0+ bytes

In [10]:
# Create table (DDL) SQLite d_bacia

consqlite.execute('DROP TABLE D_BACIA')
consqlite.execute(f"""
CREATE TABLE IF NOT EXISTS D_BACIA (
	COD_BACIA VARCHAR(10) PRIMARY KEY,
	BACIA VARCHAR(50) NOT NULL
)
""")

In [11]:
# Insert de dados d_bacia de dataframe para database

d_bacia_df.to_sql('D_BACIA', consqlite, if_exists='append', index=False)

In [12]:
# Informações de database d_bacia

d_bacia_db = pd.read_sql_query('SELECT * FROM D_BACIA', consqlite)
d_bacia_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   COD_BACIA  37 non-null     object
 1   BACIA      37 non-null     object
dtypes: object(2)
memory usage: 720.0+ bytes