In [1]:
import pandas as pd
import sqlite3

In [2]:
# Conexão database SQLite
consqlite = sqlite3.connect('C:/Users/matheus.candido/sqlite3/exploracao_petroleo_brasil.db', timeout=3)

In [3]:
# ETL Query d_campo

query_d_campo = f"""
SELECT DISTINCT
	   SUBSTR(CAMPO, -2, 3) || SUBSTR(CAMPO, 1, 3) || LENGTH(CAMPO) || SIG_CAMPO AS COD_CAMPO,
	   UPPER(CAMPO) AS CAMPO
FROM T_DATAHUB
WHERE SIG_CAMPO IS NOT NULL
ORDER BY COD_CAMPO
"""

d_campo_df = pd.read_sql_query(query_d_campo, consqlite)

In [4]:
d_campo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   COD_CAMPO  554 non-null    object
 1   CAMPO      554 non-null    object
dtypes: object(2)
memory usage: 8.8+ KB

In [5]:
# Create table (DDL) SQLite d_campo

consqlite.execute('DROP TABLE D_CAMPO')
consqlite.execute(f"""
CREATE TABLE IF NOT EXISTS D_CAMPO (
	COD_CAMPO VARCHAR(20) PRIMARY KEY,
	CAMPO VARCHAR(50) NOT NULL
)
""")

In [6]:
# Insert de dados d_campo de dataframe para database

d_campo_df.to_sql('D_CAMPO', consqlite, if_exists='append', index=False)

In [7]:
# Informações de database d_campo

d_campo_db = pd.read_sql_query('SELECT * FROM D_CAMPO', consqlite)
d_campo_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   COD_CAMPO  554 non-null    object
 1   CAMPO      554 non-null    object
dtypes: object(2)
memory usage: 8.8+ KB