In [1]:
import pandas as pd
import sqlite3

In [2]:
# Conexão database SQLite
consqlite = sqlite3.connect('C:/Users/matheus.candido/sqlite3/exploracao_petroleo_brasil.db', timeout=3)

In [3]:
# ETL Query d_categoria

query_d_categoria = f"""
SELECT DISTINCT
	TIPO AS COD_CATEGORIA,
	UPPER(CATEGORIA) AS CATEGORIA 
FROM T_DATAHUB
ORDER BY COD_CATEGORIA
"""

d_categoria_df = pd.read_sql_query(query_d_categoria, consqlite)

In [4]:
d_categoria_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   COD_CATEGORIA  9 non-null      int64
 1   CATEGORIA      9 non-null      object
dtypes: int64(1), object(1)
memory usage: 272.0+ bytes

In [5]:
# Create table (DDL) SQLite d_categoria
consqlite.execute('DROP TABLE D_CATEGORIA')
consqlite.execute(f"""
CREATE TABLE IF NOT EXISTS D_CATEGORIA(
	COD_CATEGORIA INT PRIMARY KEY,
	CATEGORIA VARCHAR(50) NOT NULL
)
""")

In [6]:
# Insert de dados d_categoria de dataframe para database

d_categoria_df.to_sql('D_CATEGORIA', consqlite, if_exists='append', index=False)

In [7]:
# Informações de database d_categoria

d_categoria_db = pd.read_sql_query('SELECT * FROM D_CATEGORIA', consqlite)
d_categoria_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   COD_CATEGORIA  9 non-null      int64
 1   CATEGORIA      9 non-null      object
dtypes: int64(1), object(1)
memory usage: 272.0+ bytes