In [1]:
import pandas as pd
import sqlite3

In [2]:
# Conexão database SQLite
consqlite = sqlite3.connect('C:/Users/matheus.candido/sqlite3/exploracao_petroleo_brasil.db', timeout=3)

In [3]:
# ETL Query d_poco_operador

query_d_estado = f"""
SELECT DISTINCT 
	   ESTADO AS COD_ESTADO,
	   CASE WHEN ESTADO = 'AC' THEN 'ACRE'
			WHEN ESTADO = 'AL' THEN 'ALAGOAS'
			WHEN ESTADO = 'AP' THEN 'AMAPÁ'
			WHEN ESTADO = 'AM' THEN 'AMAZONAS'
			WHEN ESTADO = 'BA' THEN 'BAHIA'
			WHEN ESTADO = 'CE' THEN 'CEARÁ'
			WHEN ESTADO = 'DF' THEN 'DISTRITO FEDERAL'
			WHEN ESTADO = 'ES' THEN 'ESPÍRITO SANTO'
			WHEN ESTADO = 'GO' THEN 'GOIÁS'
			WHEN ESTADO = 'MA' THEN 'MARANHÃO'
			WHEN ESTADO = 'MT' THEN 'MATO GROSSO'
			WHEN ESTADO = 'MS' THEN 'MATO GROSSO DO SUL'
			WHEN ESTADO = 'MG' THEN 'MINAS GERAIS'
			WHEN ESTADO = 'PA' THEN 'PARÁ'
			WHEN ESTADO = 'PB' THEN 'PARAÍBA'
			WHEN ESTADO = 'PR' THEN 'PARANÁ'
			WHEN ESTADO = 'PE' THEN 'PERNAMBUCO'
			WHEN ESTADO = 'PI' THEN 'PIAUÍ'
			WHEN ESTADO = 'RR' THEN 'RORAIMA'
			WHEN ESTADO = 'RO' THEN 'RONDÔNIA'
			WHEN ESTADO = 'RJ' THEN 'RIO DE JANEIRO'
			WHEN ESTADO = 'RN' THEN 'RIO GRANDE DO NORTE'
			WHEN ESTADO = 'RS' THEN 'RIO GRANDE DO SUL'
			WHEN ESTADO = 'SC' THEN 'SANTA CATARINA'
			WHEN ESTADO = 'SP' THEN 'SÃO PAULO'
			WHEN ESTADO = 'SE' THEN 'SERGIPE'
			WHEN ESTADO = 'TO' THEN 'TOCANTINS'
			ELSE '' END ESTADO_NOME
FROM T_DATAHUB
ORDER BY COD_ESTADO
"""

d_estado_df = pd.read_sql_query(query_d_estado, consqlite)

In [4]:
d_estado_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   COD_ESTADO   24 non-null     object
 1   ESTADO_NOME  24 non-null     object
dtypes: object(2)
memory usage: 512.0+ bytes

In [5]:
# Create table (DDL) SQLite d_estado

consqlite.execute('DROP TABLE D_ESTADO')
consqlite.execute(f"""
CREATE TABLE IF NOT EXISTS D_ESTADO (
	COD_ESTADO VARCHAR(10) PRIMARY KEY,
	ESTADO_NOME VARCHAR(50) NOT NULL
) 
""")

In [6]:
# Insert de dados d_estado de dataframe para database

d_estado_df.to_sql('D_ESTADO', consqlite, if_exists='append', index=False)

In [7]:
# Informações de database d_estado

d_estado_db = pd.read_sql_query('SELECT * FROM D_ESTADO', consqlite)
d_estado_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   COD_ESTADO   24 non-null     object
 1   ESTADO_NOME  24 non-null     object
dtypes: object(2)
memory usage: 512.0+ bytes