In [1]:
import pandas as pd
import sqlite3

In [2]:
# Conexão database SQLite
consqlite = sqlite3.connect('C:/Users/matheus.candido/sqlite3/exploracao_petroleo_brasil.db', timeout=3)

In [3]:
# ETL Query reclassificacao

query_reclassificacao = f"""
SELECT DISTINCT 
	   SUBSTR(RECLASSIFICACAO, 0, 3) || LENGTH (RECLASSIFICACAO) || SUBSTR(RECLASSIFICACAO, -1, 1) AS COD_RECLASSIFICACAO,
	   RECLASSIFICACAO
FROM T_DATAHUB
WHERE COD_RECLASSIFICACAO IS NOT NULL
ORDER BY COD_RECLASSIFICACAO
"""

d_reclassificacao_df = pd.read_sql_query(query_reclassificacao, consqlite)

In [4]:
d_reclassificacao_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COD_RECLASSIFICACAO  57 non-null     object
 1   RECLASSIFICACAO      57 non-null     object
dtypes: object(2)
memory usage: 1.0+ KB

In [5]:
# Create table (DDL) SQLite d_reclassificacao

consqlite.execute('DROP TABLE D_RECLASSIFICACAO')
consqlite.execute(f"""
CREATE TABLE IF NOT EXISTS D_RECLASSIFICACAO (
	COD_RECLASSIFICACAO VARCHAR(20) PRIMARY KEY,
	RECLASSIFICACAO VARCHAR(100) NOT NULL
)
""")

In [6]:
# Insert de dados d_reclassificacao de dataframe para database

d_reclassificacao_df.to_sql('D_RECLASSIFICACAO', consqlite, if_exists='append', index=False)

In [7]:
# Informações de database d_reclassificacao

d_reclassificacao_db = pd.read_sql_query('SELECT * FROM D_RECLASSIFICACAO', consqlite)
d_reclassificacao_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COD_RECLASSIFICACAO  57 non-null     object
 1   RECLASSIFICACAO      57 non-null     object
dtypes: object(2)
memory usage: 1.0+ KB