In [1]:
import pandas as pd
import sqlite3

In [2]:
# Conexão database SQLite
consqlite = sqlite3.connect('C:/Users/matheus.candido/sqlite3/exploracao_petroleo_brasil.db', timeout=3)

In [3]:
# ETL Query d_sonda

query_d_sonda = f"""
SELECT DISTINCT 
       SIG_SONDA AS COD_SONDA,
	CASE WHEN NOM_SONDA IS NULL THEN 'NÃO IDENTIFICADO' ELSE UPPER(NOM_SONDA) END AS SONDA
FROM T_DATAHUB
WHERE COD_SONDA IS NOT NULL
ORDER BY COD_SONDA
"""

d_sonda_df = pd.read_sql_query(query_d_sonda, consqlite)

In [4]:
d_sonda_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 619 entries, 0 to 618
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   COD_SONDA  619 non-null    object
 1   SONDA      619 non-null    object
dtypes: object(2)
memory usage: 9.8+ KB

In [5]:
# Create table (DDL) SQLite d_sonda

consqlite.execute('DROP TABLE D_SONDA')
consqlite.execute(f"""
CREATE TABLE IF NOT EXISTS D_SONDA (
	COD_SONDA VARCHAR(10) PRIMARY KEY,
	SONDA VARCHAR(50) NOT NULL
)
""")

In [6]:
# Insert de dados d_sonda de dataframe para database

d_sonda_df.to_sql('D_SONDA', consqlite, if_exists='append', index=False)

In [7]:
# Informações de database d_sonda

d_sonda_db = pd.read_sql_query('SELECT * FROM D_SONDA', consqlite)
d_sonda_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 619 entries, 0 to 618
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   COD_SONDA  619 non-null    object
 1   SONDA      619 non-null    object
dtypes: object(2)
memory usage: 9.8+ KB