In [1]:
import pandas as pd
import sqlite3
import datetime

In [2]:
# Geração de calendário em lista

d_tempo_list = []

datelist = pd.date_range(start="1922-01-01",end=datetime.datetime.today())
for d in datelist:
    d_tempo_list.append(d)

d_tempo_list[0]

Timestamp('1922-01-01 00:00:00', freq='D')

In [3]:
# Geração de calendário em dataframe

date_columns = ['DATA_TEMPO']

d_tempo_df = pd.DataFrame(d_tempo_list, columns=date_columns, index=None)
d_tempo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36538 entries, 0 to 36537
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DATA_TEMPO  36538 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 285.6 KB

In [4]:
# Criação de novas colunas de data

d_tempo_df['DATA'] = d_tempo_df['DATA_TEMPO'].dt.date
d_tempo_df['ANO'] = d_tempo_df['DATA_TEMPO'].dt.year
d_tempo_df['MES'] = d_tempo_df['DATA_TEMPO'].dt.month
d_tempo_df['DIA'] = d_tempo_df['DATA_TEMPO'].dt.day
d_tempo_df['SEMANA'] = d_tempo_df['DATA_TEMPO'].dt.isocalendar().week

d_tempo_df.tail(3)

      DATA_TEMPO        DATA   ANO  MES  DIA  SEMANA
36535 2022-01-11  2022-01-11  2022    1   11       2
36536 2022-01-12  2022-01-12  2022    1   12       2
36537 2022-01-13  2022-01-13  2022    1   13       2

In [5]:
# Conexão database SQLite
consqlite = sqlite3.connect('C:/Users/matheus.candido/sqlite3/exploracao_petroleo_brasil.db', timeout=3)

In [6]:
# Create table (DDL) SQLite d_tempo

consqlite.execute('DROP TABLE D_TEMPO')
consqlite.execute(f"""
CREATE TABLE IF NOT EXISTS D_TEMPO (
	DATA VARCHAR(50) PRIMARY KEY,
	DATA_TEMPO VARCHAR(10) NOT NULL,
	ANO VARCHAR(10) NOT NULL,
	MES VARCHAR(10) NOT NULL,
	DIA VARCHAR(10) NOT NULL,
	SEMANA VARCHAR(10) NOT NULL
) 
""")

In [7]:
# Insert de dados d_tempo de dataframe para database

d_tempo_df.to_sql('D_TEMPO', consqlite, if_exists='append', index=False)
d_tempo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36538 entries, 0 to 36537
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DATA_TEMPO  36538 non-null  datetime64[ns]
 1   DATA        36538 non-null  object
 2   ANO         36538 non-null  int64
 3   MES         36538 non-null  int64
 4   DIA         36538 non-null  int64
 5   SEMANA      36538 non-null  UInt32
dtypes: UInt32(1), datetime64[ns](1), int64(3), object(1)
memory usage: 1.6+ MB

In [8]:
# Informações de database d_tempo

d_tempo_db = pd.read_sql_query('SELECT * FROM D_TEMPO', consqlite)
d_tempo_db.tail()

             DATA           DATA_TEMPO   ANO MES DIA SEMANA
36533  2022-01-09  2022-01-09 00:00:00  2022   1   9      1
36534  2022-01-10  2022-01-10 00:00:00  2022   1  10      2
36535  2022-01-11  2022-01-11 00:00:00  2022   1  11      2
36536  2022-01-12  2022-01-12 00:00:00  2022   1  12      2
36537  2022-01-13  2022-01-13 00:00:00  2022   1  13      2