In [1]:
import pandas as pd
import sqlite3

In [2]:
# Conexão database SQLite
consqlite = sqlite3.connect('C:/Users/matheus.candido/sqlite3/exploracao_petroleo_brasil.db', timeout=3)

In [3]:
# ETL Query d_titularidade

query_d_titularidade = f"""
SELECT DISTINCT 
       CASE WHEN TITULARIDADE LIKE 'Público' THEN 'P' WHEN TITULARIDADE LIKE 'Confidencial' THEN 'C' ELSE '' END AS COD_TITULARIDADE,
	   UPPER(TITULARIDADE) AS TITULARIDADE 
FROM T_DATAHUB
WHERE COD_TITULARIDADE IS NOT NULL
ORDER BY COD_TITULARIDADE
"""

d_titularidade_df = pd.read_sql_query(query_d_titularidade, consqlite)

In [4]:
d_titularidade_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   COD_TITULARIDADE  2 non-null      object
 1   TITULARIDADE      2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [5]:
# Create table (DDL) SQLite d_titularidade

consqlite.execute('DROP TABLE D_TITULARIDADE')
consqlite.execute(f"""
CREATE TABLE IF NOT EXISTS D_TITULARIDADE (
	COD_TITULARIDADE VARCHAR(10) PRIMARY KEY,
	TITULARIDADE VARCHAR(50) NOT NULL
)
""")

In [6]:
# Insert de dados d_titularidade de dataframe para database

d_titularidade_df.to_sql('D_TITULARIDADE', consqlite, if_exists='append', index=False)

In [7]:
# Informações de database d_titularidade

d_titularidade_db = pd.read_sql_query('SELECT * FROM D_TITULARIDADE', consqlite)
d_titularidade_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   COD_TITULARIDADE  2 non-null      object
 1   TITULARIDADE      2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes