In [2]:
import pandas as pd
import sqlite3

In [3]:
# Extração de dados

datahub_df = pd.read_excel('source/tabela-de-pocos.xlsx', header=3, usecols='A:S,V:W,AA:AG,AM:BH')

In [4]:
datahub_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30172 entries, 0 to 30171
Data columns (total 50 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   POCO                        30172 non-null  object
 1   CADASTRO                    30172 non-null  int64
 2   OPERADOR                    27236 non-null  object
 3   POCO_OPERADOR               30172 non-null  object
 4   ESTADO                      30172 non-null  object
 5   BACIA                       30172 non-null  object
 6   BLOCO                       26759 non-null  object
 7   SIG_CAMPO                   26151 non-null  object
 8   CAMPO                       26151 non-null  object
 9   TERRA_MAR                   30172 non-null  object
 10  POCO_POS_ANP                30172 non-null  object
 11  TIPO                        30172 non-null  int64
 12  CATEGORIA                   30172 non-null  object
 13  RECLASSIFICACAO             29012 non-null  object
 14  SITUACAO                    30069 non-null  object
 15  INICIO                      30172 non-null  datetime64[ns]
 16  TERMINO                     28342 non-null  datetime64[ns]
 17  CONCLUSAO                   30021 non-null  datetime64[ns]
 18  TITULARIDADE                30172 non-null  object
 19  LATITUDE_BASE_DD            30172 non-null  object
 20  LONGITUDE_BASE_DD           30172 non-null  object
 21  PROFUNDIDADE_VERTICAL_M     10792 non-null  float64
 22  PROFUNDIDADE_SONDADOR_M     29124 non-null  float64
 23  PROFUNDIDADE_MEDIDA_M       12344 non-null  float64
 24  REFERENCIA_DE_PROFUNDIDADE  30172 non-null  object
 25  MESA_ROTATIVA               30172 non-null  float64
 26  COTA_ALTIMETRICA_M          12911 non-null  float64
 27  LAMINA_D_AGUA_M             15383 non-null  float64
 28  CDPE                        8896 non-null   object
 29  AGP                         6910 non-null   object
 30  PC                          8369 non-null   object
 31  PAG                         1245 non-null   object
 32  PERFIS_CONVENCIONAIS        8001 non-null   object
 33  DURANTE_PERFURACAO          2884 non-null   object
 34  PERFIS_DIGITAIS             20743 non-null  object
 35  PERFIS_PROCESSADOS          739 non-null    object
 36  PERFIS_ESPECIAIS            660 non-null    object
 37  AMOSTRA_LATERAL             927 non-null    object
 38  SISMICA                     1688 non-null   object
 39  TABELA_TEMPO_PROFUNDIDADE   873 non-null    object
 40  DADOS_DIRECIONAIS           7475 non-null   object
 41  TESTE_A_CABO                4212 non-null   object
 42  TESTE_DE_FORMACAO           628 non-null    object
 43  CANHONEIO                   941 non-null    object
 44  TESTEMUNHO                  426 non-null    object
 45  GEOQUIMICA                  3146 non-null   object
 46  SIG_SONDA                   30089 non-null  object
 47  NOM_SONDA                   26018 non-null  object
 48  DHA_ATUALIZACAO             30172 non-null  datetime64[ns]
 49  ATINGIU_PRESAL              6861 non-null   object
dtypes: datetime64[ns](4), float64(6), int64(2), object(38)
memory usage: 11.5+ MB

In [5]:
# Conexão database SQLite

consqlite = sqlite3.connect('C:/Users/matheus.candido/sqlite3/exploracao_petroleo_brasil.db', timeout=10)

In [6]:
# Insert de dados t_datahub de dataframe para database

datahub_df.to_sql('T_DATAHUB', consqlite, index=False, if_exists='replace')

In [7]:
# Quantidade de registros database t_datahub

datahub_db = pd.read_sql_query('SELECT COUNT(*) POCOS_ORIGEM FROM T_DATAHUB', consqlite)
datahub_db

   POCOS_ORIGEM
0         30172