In [20]:
import pandas as pd
from IPython.display import display
import sqlite3

In [21]:
# Conexão database SQLite

consqlite = sqlite3.connect('C:/Users/matheus.candido/sqlite3/exploracao_petroleo_brasil.db', timeout=10)

In [22]:
# Display dicionário de dados

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    dictionary_db = pd.read_sql_query("SELECT * FROM T_DICTIONARY WHERE TABELA NOT LIKE 'T_DATAHUB'", consqlite)
    display(dictionary_db)

,TABELA,CAMPO,TIPO,CAMPO_NOME
0,D_BACIA,BACIA,VARCHAR(50),Nome da bacia
1,D_BACIA,COD_BACIA,VARCHAR(10),Código da bacia
2,D_CAMPO,CAMPO,VARCHAR(50),Nome do campo
3,D_CAMPO,COD_CAMPO,VARCHAR(20),Código do campo
4,D_CATEGORIA,CATEGORIA,VARCHAR(50),Nome da categoria
5,D_CATEGORIA,COD_CATEGORIA,INT,Código da categoria
6,D_ESTADO,COD_ESTADO,VARCHAR(10),Código do estado
7,D_ESTADO,ESTADO_NOME,VARCHAR(50),Nome do estado
8,D_POCO_OPERADOR,COD_CADASTRO_POCO,VARCHAR(50),Código de cadastro do poço
9,D_POCO_OPERADOR,COD_POCO,VARCHAR(20),Código do poço
10,D_POCO_OPERADOR,OPERADOR,VARCHAR(20),Nome do poço
11,D_POCO_OPERADOR,POCO_OPERADOR,VARCHAR(50),Código do operador
12,D_RECLASSIFICACAO,COD_RECLASSIFICACAO,VARCHAR(20),Código de reclassificação
13,D_RECLASSIFICACAO,RECLASSIFICACAO,VARCHAR(100),Nome de reclassificação
14,D_SITUACAO,COD_SITUACAO,VARCHAR(20),Código de situação
15,D_SITUACAO,SITUACAO,VARCHAR(100),Nome de situação
16,D_SONDA,COD_SONDA,VARCHAR(10),Código da sonda
17,D_SONDA,SONDA,VARCHAR(50),Nome da sonda
18,D_TEMPO,ANO,VARCHAR(10),Ano
19,D_TEMPO,DATA,VARCHAR(50),Data
20,D_TEMPO,DATA_TEMPO,VARCHAR(10),Data tempo
21,D_TEMPO,DIA,VARCHAR(10),Dia
22,D_TEMPO,MES,VARCHAR(10),Mês
23,D_TEMPO,SEMANA,VARCHAR(10),Semana
24,D_TITULARIDADE,COD_TITULARIDADE,VARCHAR(10),Código de titularidade
25,D_TITULARIDADE,TITULARIDADE,VARCHAR(50),Nome de titularidade
26,F_EXPLORACAO,AGP,INT,Arquivo geral de poço
27,F_EXPLORACAO,AMOSTRA_LATERAL,INT,Amostra lateral
28,F_EXPLORACAO,ATINGIU_PRESAL,INT,Atingiu Pré Sal
29,F_EXPLORACAO,CANHONEIO,INT,Canhoneio
30,F_EXPLORACAO,CDPE,INT,Consolidação de dados de poços exploratório
31,F_EXPLORACAO,COD_BACIA,VARCHAR(10),Código da bacia
32,F_EXPLORACAO,COD_BLOCO,VARCHAR(20),Código do bloco
33,F_EXPLORACAO,COD_CADASTRO_POCO,VARCHAR(50),Código de cadastro do boco
34,F_EXPLORACAO,COD_CAMPO,VARCHAR(20),Código do campo
35,F_EXPLORACAO,COD_CATEGORIA,INT,Código da categoria
36,F_EXPLORACAO,COD_ESTADO,VARCHAR(10),Código do estado
37,F_EXPLORACAO,COD_POCO,VARCHAR(20),Código do poço
38,F_EXPLORACAO,COD_RECLASSIFICACAO,VARCHAR(20),Código de reclassificação
39,F_EXPLORACAO,COD_SITUACAO,VARCHAR(20),Código de situação
40,F_EXPLORACAO,COD_SONDA,VARCHAR(10),Código da sonda
41,F_EXPLORACAO,COD_TITULARIDADE,VARCHAR(10),Código de titularidade
42,F_EXPLORACAO,COTA_ALTIMETRICA_M,REAL,Cota altimétrica metros
43,F_EXPLORACAO,DADOS_DIRECIONAIS,INT,Dados direcionais
44,F_EXPLORACAO,DT_ATUALIZACAO,VARCHAR(50),Data de disponibilização dos dados
45,F_EXPLORACAO,DT_CONCLUSAO,VARCHAR(50),Data de conclusão da operação
46,F_EXPLORACAO,DT_INICIO,VARCHAR(50),Data de início da operação
47,F_EXPLORACAO,DT_TERMINO,VARCHAR(50),Data de témino da operação
48,F_EXPLORACAO,DURANTE_PERFURACAO,INT,Durante perfuração
49,F_EXPLORACAO,GEOQUIMICA,INT,Geoquimica
50,F_EXPLORACAO,LAMINA_D_AGUA_M,REAL,Lâmina d agua metros
51,F_EXPLORACAO,LATITUDE_BASE_DD,REAL,Latitude
52,F_EXPLORACAO,LONGITUDE_BASE_DD,REAL,Longitude
53,F_EXPLORACAO,MESA_ROTATIVA,REAL,Mesa rotativa
54,F_EXPLORACAO,PAG,INT,Perfil de acompanhamento geológico
55,F_EXPLORACAO,PC,INT,Perfil composto
56,F_EXPLORACAO,PERFIS_CONVENCIONAIS,INT,Perfil convencional
57,F_EXPLORACAO,PERFIS_DIGITAIS,INT,Perfil digital
58,F_EXPLORACAO,PERFIS_ESPECIAIS,INT,Perfil especial
59,F_EXPLORACAO,PERFIS_PROCESSADOS,INT,Perfil processado
60,F_EXPLORACAO,POCO_POS_ANP,INT,Poco pós ANP
61,F_EXPLORACAO,PROFUNDIDADE_MEDIDA_M,REAL,Profundidade medida metros
62,F_EXPLORACAO,PROFUNDIDADE_SONDADOR_M,REAL,Profundidade sondador metros
63,F_EXPLORACAO,PROFUNDIDADE_VERTICAL_M,REAL,Profundidade vertical metros
64,F_EXPLORACAO,REFERENCIA_DE_PROFUNDIDADE,VARCHAR(10),Profundidade medida metros
65,F_EXPLORACAO,SISMICA,INT,Sismica
66,F_EXPLORACAO,TABELA_TEMPO_PROFUNDIDADE,INT,Tabela tempo profundidade
67,F_EXPLORACAO,TERRA_MAR,VARCHAR(10),Terra ou mar
68,F_EXPLORACAO,TESTEMUNHO,INT,Testemunho
69,F_EXPLORACAO,TESTE_A_CABO,INT,Teste a cabo
70,F_EXPLORACAO,TESTE_DE_FORMACAO,INT,Teste de formação